.git
.gitignore
.gitattributes
.github

.vscode
.idea
*.swp
*.swo
*.iml

.DS_Store
Thumbs.db
desktop.ini

bin/
tmp/
*.exe
*.test
*.out
coverage.txt
*.prof
*.pprof

vendor/
node_modules/

.env
.env.*
!.env.example
*.pem
*.key
secrets/

**/Dockerfile
**/Dockerfile.*
docker-compose*.yaml
docker-compose*.yml

docs/
*.md
!README.md
*.log
coverage/
.mise.toml
.air.toml